body {
	font-family: Dancing Script;
	background-color: black;
}

.container {
	margin: 0;
	padding: 0;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	transition: background 1s;
	animation: contenedor-animacion 2s;
}

a{
	color: white;
}

.footer-enlases{
	color: black;

}

.footer {
	color: black;
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	padding-bottom: 3%;
}

.redes-sociales{
	width: 100%;
	display:inline-table;
	vertical-align: middle;
	padding: 2%;
}

.cabezera {
	color: white;
	background-color: #5b7989;
	margin: auto;
	border-radius: 10px 10px 0px 0px;
}

.cabezera, .footer {
	width: 100%;
	text-align: center;
}

.imagen-redes-sociales{
	width: 25px;
}


.footer p{
	font-size: 1.2em;
}
.footer a{
	font-size: 1.2em;

}

.cabezera a{
	font-size: 1.3em;
	padding: 1%;
}

 .cabezera span{
	 font-size: 1.3em;
	 padding: 1%;
 }
.footer-contenedor{
	vertical-align: top;
	display: inline-block;
	text-align: left;
}
@media (max-width: 900px) {
	.menu{
		width:100%;
		display: inline-block;
		padding-bottom: 3%;

	}
	.cabezera {
		width: 100%;
		margin: auto;
		text-align: center;
	}
	.footer-contenedor{
		width:100%;
		padding-bottom: 2%;
		padding-left: 4%;
	}
}


@media (min-width: 900px) {

	.container{
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	.cabezera {
		width: 100%;
		height: 10%;
	}



	.titulo-header{
		width:45%;
		display: inline-block;
		text-align: left;
		margin-left: 2%;
	}
	.menu{
		width:45%;
		display: inline-block;
		text-align: right;
		margin-left: 2%;

	}
	.footer-contenedor{
		width:24%;
		padding-top: 2%;
	}
}

@-webkit-keyframes contenedor-animacion {
	0% {
		margin-top: 150%
	}
	60% {
		margin-top: -5%
	}
	100% {
		margin-top: 0%
	}
}

